
body {
    background: #FFFFFF;
    color: var(--secondary-text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.list-services {
    list-style: none;
    text-decoration: none;

}
h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}
.list-services .kontent {
    font-size: 18px;
    line-height: 1.6;
    color: var(--primary-white-color);
    background: rgba(33, 150, 243, 0.9);

}
.list-text {
    font-size: 16px;
    line-height: 1.9;

    color: var(--primary-text-color);
    text-decoration: none;

}
.button {
    background:  #F5F4FA;
    font-size: 16px;
    line-height: 1.6;
    font-family: inherit;
}
.list .button:focus,
.list .button:hover {
    background: #2196F3;
    color: #FFFFFF;
}